spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shina_magazin
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    uz.shinamagazin: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
